/*Please don't touch any components that has .popup*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* higher z-index value to ensure the popup appears on top of everything */
}

.popup-box {
background-color: #aabac9;
border: 1px solid black;
padding: 30px;
border-radius: 4px;
}

.popup-success {
border: 2px solid green;
}

.popup-error {
border: 2px solid red;
}

.buttonPopup {
margin-top: 10px;
margin-right: 5px;
}